.loginApresentation {
    -fx-background-image: url(../images/account.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-opacity: 0.8;
}

